:root{
    --bg-dark: oklch(0.1 0.005 263);
    --bg: oklch(0.15 0.005 263);
    --bg-light: oklch(0.2 0.005 263);
    --bg-very-light: oklch(0.25 0.005 263);
    --text: oklch(0.96 0.01 263);
    --text-muted: oklch(0.76 0.01 263);
    --highlight: oklch(0.5 0.01 263);
    --border: oklch(0.4 0.01 263);
    --border-muted: oklch(0.3 0.01 263);
    --primary: oklch(0.76 0.1 263);
    --secondary: oklch(0.76 0.1 83);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
    --bs-body-bg: oklch(0.15 0.005 263) !important;
    --bs-primary-rgb: oklch(0.76 0.1 263) !important;
    --bs-primary: oklch(0.76 0.1 263) !important;
}

*{
    color: var(--text-muted) !important;
}

*:not(.nav-link, .tail){
    border-color: var(--border-muted) !important;
}

body, div.drawerheader, 
div.drawercontent, 
div#region-main-box,
div.login-wrapper,
div.message-app,
#page{
    background-color: var(--bg-dark) !important;
}

nav.navbar.fixed-top.bg-body,
#topofscroll,
div#region-main,
button.btn,
ul.pagination,
div.login-container,
div.dropdown-menu,
a.py-0,
div.section.border-0,
div.popover-region-container,
div.popover-region-footer-container,
div.bg-white.p-1,
div.p-sm-2,
textarea.form-control
div.table-responsive,
div#filters,
div.col-md-9.d.flex,
div#action_bar,
div.box.py-3.generalbox.info,
div.popover.footer,
nav.moremenu,
ul.nav-tabs,
ul.nav,
ul.nav-tabs > li,
div.content-item-container.notification,
div.timeline-event-list-item,
section.block_timeline.block,
div.card-text.content,
div.recentylaccessedcourses > div.container-fluid,
div.w-100.text-truncate,
div.card-footer.menu,
div.card-footer.border-0, 
div.d-flex.align-items-start,
#pdftoolbar,
#comment-wrapper,
#currentPage,
select.scale,
#pdfannotator_cursor{
    background-color: var(--bg) !important;
}

block_html.block.card.mb-3, 
div.activity-header,
div.box:not(.submissionsummarytable, #notice),
div.table-responsive,
table.generaltable,
input.form-check-input,
nav > div.container-fluid,
.navigation,
div.message,
div.section-item,
a.btn-icon,
th.header,
div.alert.alert-block,
ul.dropdown-menu,
p.alert.alert-info,
div.filter-group.my-2,
div.filter-group.my-2 div.border-radius.my-2,
select.form-select > option,
div.primary-navigation > nav > ul,
a.btn.btn-link.block-add,
a.list-group-item.list-group-item-action:hover,
.clickable:hover,
div.content-item-container.notification.unread,
div.content-item-container.notification:hover,
.bg-light{
    background-color: var(--bg-light) !important;
}

.nav-link:hover,
li.page-item,
.page-link,
div.content-item-container.notification.unread:hover{
    background-color: var(--bg-very-light) !important;
}

.icon-no-margin{
    background-color: transparent !important;
}

h1.h2.mb-0,
.card-title,
a.nav-link,
strong.m-0.text-truncate,
h3.popover-region-header-text,
h6.day,
h4,
h5,
a.d-inline-block.aabtn,
div.notification-message,
p.text-muted,
.maincalendar .calendarmonth td.today{
    color: var(--text) !important;
}

div.divider{
    background-color: var(--border) !important;
}

.maincalendar .calendarmonth td.today .day-number-circle{
    background-color: var(--primary) !important;
}

.nav-link.active{
    border-bottom-color: var(--primary) !important;
}

input.form-control,
select.form-select,
input#checkall,
.nav-tabs .nav-link.active{
    border-color: var(--border-muted) !important;
    background-color: transparent !important;
    color: var(--text-muted) !important;
}

input.form-control::placeholder{
    color: var(--text-muted) !important;
}

div.login-container{
    box-shadow: 0 0 1rem var(--text-muted) !important;
}

div#page{
    background-image: none !important;
}

a#user-menu-toggle{
    border: none !important;
}

div.alert-danger{
    background-color: var(--info) !important;
    color: var(--text) !important;
}

.border,
.border-bottom{
    border: 1px solid var(--border) !important;
}

textarea.form-control{
    border-color: var(--border) !important;
    color: var(--text) !important;
}

textarea.form-control::placeholder{
    color: var(--text) !important;
}

div.table-responsive{
    background-color: var(--bg) !important;
}

div#filters{
    background: none !important;
}

div.filter-group.my-2,
div.filter-group.my-2 div.border-radius.my-2,
div.pb-3.px-2.border-bottom,
div.pt-2.border-bottom{
    border-color: var(--border) !important;
}

div.table-responsive tbody:nth-child(even){
    background-color: var(--bg) !important;
}

div.table-responsive tbody:nth-child(od){
    background-color: var(--bg-light) !important;
}

.form-control:focus{
    box-shadow: 0 0 0 0.25rem var(--primary) !important;
}

span.bg-danger,
.alert .alert-danger{
    background-color: var(--danger) !important;
}

#mod_book-chapter{
    background-color: var(--bg) !important;
}

.path-mod-pdfannotator{
    --page-border: none !important;
}

#pdftoolbar{
    -webkit-box-shadow: inset 0 1px 1px 0 var(--border) !important;
    -moz-box-shadow: inset 0 1px 1px 0 var(--border) !important;
    box-shadow: inset 0 1px 1px 0 var(--border) !important;
}

.tail.position-absolute{
    border-bottom-color: var(--bg-light) !important;
}